@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

#container {
    max-width: 640px;
}
#vis {
    width: 100%;
}
.line {
    fill: none;
    stroke: #009060;
    stroke-width: 1.5;
}
.axis {
    font-size: 12pt;
    font-family: "Open Sans";
}