@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@font-face {
  font-family: "National-LFSN-Book";
  src: url("https://visual.parliament.uk/research/resources/fonts/National-LFSN-Book.woff") format("woff"),
       url("https://visual.parliament.uk/research/resources/fonts/National-LFSN-Book.woff2") format("woff2");
}

@font-face {
  font-family: "National-LFSN-Semibold";
  src: url("https://visual.parliament.uk/research/resources/fonts/National-LFSN-Semibold.woff") format("woff"),
       url("https://visual.parliament.uk/research/resources/fonts/National-LFSN-Semibold.woff2") format("woff2");
}

