html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

a {
    background-color: transparent
}

@font-face {
    font-family: "National-LFSN-Book";
    font-display: swap;
    src: url("/research/resources/fonts/National-LFSN-Book.woff2") format("woff2"), 
         url("/research/resources/fonts/National-LFSN-Book.woff") format("woff")
}

@font-face {
    font-family: "National-LFSN-Semibold";
    font-display: swap;
    src: url("/research/resources/fonts/National-LFSN-Semibold.woff2") format("woff2"), 
         url("/research/resources/fonts/National-LFSN-Semibold.woff") format("woff");
}

*,:after,:before {
    box-sizing: border-box
}

main {
    box-sizing: border-box;
    flex-grow: 1;
    padding-bottom: 30px
}

.section--primary {
    padding-top: 36px
}

@media(min-width: 768px) {
    .section--primary {
        padding-top:42px
    }
}

@media(min-width: 1002px) {
    main .container {
        padding-right:364px
    }
}

@media(min-width: 1218px) {
    main .container {
        padding-right:436px
    }
}

.container,.section--wide .container {
    position: relative;
    padding: 0 18px;
    margin: 0 auto;
    width: 100%
}

@media(min-width: 768px) {
    .container,.section--wide .container {
        width:768px
    }
}

@media(min-width: 1002px) {
    .container,.section--wide .container {
        padding:0 60px;
        width: 1002px
    }
}

@media(min-width: 1218px) {
    .container,.section--wide .container {
        width:1218px
    }
}

html {
    font-size: 16px
}

body {
    padding: 0;
    color: #4d4d4d;
    direction: ltr;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f8f7f7;
    font-family: "National-LFSN-Book",Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 1.125rem;
    line-height: 1.334
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "pnum";
    font-feature-settings: "pnum";
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    font-family: "National-LFSN-Semibold";
    font-weight: 500;
    color: #373151;
    margin-bottom: 6px;
    margin-top: 24px
}

@media(min-width: 768px) {
    h1,h2,h3,h4,h5,h6 {
        margin-top:30px
    }
}

h1 {
    font-size: 2.125rem;
    line-height: 1.059;
    margin-bottom: 30px;
    margin-top: 36px
}

@media(min-width: 768px) {
    h1 {
        font-size:2.75rem;
        line-height: 1.091;
        margin-bottom: 36px;
        margin-top: 42px
    }
}

article footer h2,h2 {
    font-size: 1.75rem;
    line-height: 1.071;
    margin-bottom: 12px;
    margin-top: 36px
}

@media(min-width: 768px) {
    article footer h2,h2 {
        font-size:2.0625rem;
        line-height: 1.091;
        margin-bottom: 18px;
        margin-top: 42px
    }
}

footer h2,h5,h6 {
    font-size: 1.125rem;
    line-height: 1.334;
    line-height: 1.167;
    margin-bottom: 6px;
    margin-top: 24px
}

@media(min-width: 768px) {
    footer h2,h5,h6 {
        font-size:1.25rem;
        line-height: 1.5;
        line-height: 1.2;
        margin-bottom: 6px;
        margin-top: 30px
    }
}

h1 :last-child {
    margin-bottom: 0;
    margin-right: 0
}

h1 span {
    display: block
}

body>footer h2 {
    color: #f8f7f7;
    margin-top: 24px;
    margin-bottom: 12px
}

.block h1:first-of-type,.block h2:first-of-type,.block h3:first-of-type,.block h4:first-of-type,.block h5:first-of-type,.block h6:first-of-type,.hero .container h1:first-of-type,.hero .container h2:first-of-type,.hero .container h3:first-of-type,.hero .container h4:first-of-type,.hero .container h5:first-of-type,.hero .container h6:first-of-type,.section--primary .container h1:first-of-type,.section--primary .container h2:first-of-type,.section--primary .container h3:first-of-type,.section--primary .container h4:first-of-type,.section--primary .container h5:first-of-type,.section--primary .container h6:first-of-type,.track--alternative>li:first-child>h2,.track--alternative>li:first-child>h3,.track--alternative>li:first-child>h4,.track--alternative>li:first-child>h5,.track--alternative>li:first-child>h6,.track>li:first-child>h2,.track>li:first-child>h3,.track>li:first-child>h4,.track>li:first-child>h5,.track>li:first-child>h6,[role=main] h1:first-of-type,[role=main] h2:first-of-type,[role=main] h3:first-of-type,[role=main] h4:first-of-type,[role=main] h5:first-of-type,[role=main] h6:first-of-type,article header h1:first-of-type,article header h2:first-of-type,article header h3:first-of-type,article header h4:first-of-type,article header h5:first-of-type,article header h6:first-of-type {
    margin-top: 0
}

svg {
    pointer-events: none;
    vertical-align: middle
}

header .uk_parliament g {
    fill: #fff
}

a {
    color: #2b57ab;
    text-decoration: underline
}

a:visited {
    color: #7c1389
}

a:hover {
    color: #7592c8
}

a:active,a:focus {
    color: #373151;
    text-decoration: none
}

a:active {
    background-color: transparent;
    outline: none
}

a:focus {
    background-color: #96dcbe;
    outline: 3px solid #96dcbe
}

body>footer a {
    color: #f8f7f7;
    text-decoration: underline
}

body>footer a:visited {
    color: #f8f7f7
}

body>footer a:hover {
    color: #f8f7f7
}

body>footer a:focus {
    color: #f8f7f7
    text-decoration: none
}

@media(min-width: 768px) {
    body {
        font-size:1.25rem;
        line-height: 1.5
    }
}

p {
    margin: 0 0 18px
}

@media print {
    article blockquote,article li,article p {
        page-break-inside: avoid
    }
}

@media print {
    article footer {
        display: none
    }
}

@media print {
    article+aside {
        display: none
    }
}

body>footer {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    color: #f8f7f7;
    background-color: #373151;
    padding-bottom: 60px
}

@media print {
    body>footer {
        display: none
    }
}

body>header {
    position: relative;
    padding-top: 15px;
    padding-bottom: 17px;
    background-color: #373151
}

body>header .container {
    line-height: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between
}

@media print {
    body>header {
        display: none
    }
}

ol,ul {
    padding: 0 0 0 30px
}

dd,dl,dt,ol li,ul li {
    padding: 0
}

dd,dl,dt {
    margin: 0;
    word-break: break-word
}

.list {
    padding-left: 0;
    list-style: none
}

.list ol {
    list-style: decimal
}

.list ul {
    list-style: disc
}

.list>li {
    display: block;
    position: relative;
    margin-bottom: 6px
}

.list>li :last-child {
    margin-bottom: 0;
    margin-right: 0
}

footer .list {
    margin: 0;
    padding: 0;
    list-style: none
}

@media print {
    nav {
        display: none
    }
}