@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700,400i,400i";

body {
    padding: 5px;
    margin: 0;
    max-width: 750px;
    text-align: center;
    font-family: Tahoma, "Open Sans", sans-serif;
}

#vis-title {
    font-size: 18pt;
    color: #333333;
}

#infobox {
    position: absolute;
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-size: 10pt;
    background: #ffffff;
    border: 2px solid #d0d0d0;
    border-radius: 6px;
    pointer-events: none;
    opacity: 0;
}

.infobox-label {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    color: #333333;
}
